  <!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À propos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>À propos de nous</h1>
    </header>
    <main>
        <section class="about">
            <<%= image_tag 'photo1.jpeg', alt: 'Description de l image' %>

            <blockquote>
                "La vie est un défi à relever, un bonheur à mériter, une aventure à tenter." — Mère Teresa
            </blockquote>
            <p>
                Depuis notre création, nous nous engageons à fournir des solutions innovantes et de qualité, adaptées aux besoins spécifiques de nos clients. Notre équipe dévouée travaille avec passion pour transformer vos défis en opportunités, en mettant l'accent sur l'excellence et la satisfaction client.
            </p>
        </section>
    </main>
</body>
</html>
